.popup__form{
  display: flex;
  flex-direction: column;
  width: 430px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1040px) {
  .popup__form{
    width: 282px;
    align-items: center;
  }
}
